<!DOCTYPE HTML>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>收藏链接</title>
    <head th:include="home/common/header"></head>
</head>

<body class="user-select">
    <!--Header nav-->
    <header th:include="home/common/main_menu"></header>
    <section class="container container-page">
        <div class="pageside">
            <div class="pagemenus">
                <ul class="pagemenu">
                    <li><a href="tags.html">标签云</a></li>
                    <!--<li><a href="readers.html">读者墙</a></li>-->
                    <li><a href="links.html">友情链接</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <header class="article-header">
                <h1 class="article-title">友情链接</h1>
            </header>
            <ul class="plinks">
                <li><a href="" title="" target="_blank" rel="nofollow"><img src="/images/icon/favicon.ico" alt="">百度</a></li>
            </ul>
        </div>
    </section>
    <!--footer-->
    <div th:include="home/common/footer"></div>
    <!--微信二维码模态框-->
    <div th:include="home/common/weixin_code"></div>
    <!--该功能正在日以继夜的开发中-->
    <div th:include="home/common/continue"></div>
    <!--右键菜单列表-->
    <div th:include="home/common/rightkey_menu"></div>

    <!--publicJs-->
    <div th:include="home/common/public_js"></div>
</body>
</html>